### Pandas 임포트

In [1]:
import pandas as pd
import numpy as np

### CSV파일 불러오기

In [2]:
fashion = pd.read_csv("../data/Fashion_SQL.csv")

In [3]:
fashion.head()

,PRODUCTID,GENDER_SIMPLIFIED,FEMALE_SIMPLIFIED,MALE_SIMPLIFIED,CATEGORY_SIMPLIFIED,SUBCATEGORY,PRODUCTTYPE,COLOR,USAGE,PRODUCTTITLE,IMAGE,IMAGEURL
0,42419,0,0.0,NaN,1,Topwear,Tops,White,Casual,Gini and Jony Girls Knit White Top,42419.jpg,http://assets.myntassets.com/v1/images/style/p...
1,34009,0,0.0,NaN,1,Topwear,Tops,Black,Casual,Gini and Jony Girls Black Top,34009.jpg,http://assets.myntassets.com/v1/images/style/p...
2,40143,0,0.0,NaN,1,Topwear,Tops,Blue,Casual,Gini and Jony Girls Pretty Blossom Blue Top,40143.jpg,http://assets.myntassets.com/v1/images/style/p...
3,23623,0,0.0,NaN,1,Topwear,Tops,Pink,Casual,Doodle Kids Girls Pink I love Shopping Top,23623.jpg,http://assets.myntassets.com/v1/images/style/p...
4,47154,0,0.0,NaN,1,Bottomwear,Capris,Black,Casual,Gini and Jony Girls Black Capris,47154.jpg,http://assets.myntassets.com/v1/images/style/p...

In [4]:
fashion.drop(['SUBCATEGORY', 'PRODUCTTYPE', 'USAGE', 'PRODUCTTITLE', 'IMAGEURL', 'FEMALE_SIMPLIFIED', 'MALE_SIMPLIFIED'], axis = 1, inplace=True)

In [5]:
fashion.head()

   PRODUCTID  GENDER_SIMPLIFIED  CATEGORY_SIMPLIFIED  COLOR      IMAGE
0      42419                  0                    1  White  42419.jpg
1      34009                  0                    1  Black  34009.jpg
2      40143                  0                    1   Blue  40143.jpg
3      23623                  0                    1   Pink  23623.jpg
4      47154                  0                    1  Black  47154.jpg

### 참고로 원래 kaggle데이터의 디렉터리 구조가 Apparel과 Footwear로 나뉘고,
### 그 다음 Apparel은 Boys/Girls, Footwear은 Men/Women으로 나뉜다
### 그러나 SQL작업 덕분에 Boys는 Men으로, Girls는 Women으로 이미 통합되어 있다.

In [7]:
print(fashion.head())
print(fashion["GENDER_SIMPLIFIED"].unique())

   PRODUCTID  GENDER_SIMPLIFIED  CATEGORY_SIMPLIFIED  COLOR      IMAGE
0      42419                  0                    1  White  42419.jpg
1      34009                  0                    1  Black  34009.jpg
2      40143                  0                    1   Blue  40143.jpg
3      23623                  0                    1   Pink  23623.jpg
4      47154                  0                    1  Black  47154.jpg
[0 1]

###### unique결과 Women과 Men만 뜨는 것으로 보아 잘 통합되었다고 볼 수 있다.

### python 폴더를 열고 osos.py를 관리자 권한으로 실행시킨다.
######  cmd를 관리자 권한으로 열고 해당 경로로 이동한 뒤 python osos.py 명령을 입력한다. python글자만 출력되는 경우 환경변수 설정 필요
###### 경로 충돌 등 오류 발생한다면 kaggle에서 Apparel과 Footwear디렉터리를 다시 다운로드

### 나머지 feature들의 unique도 확인

In [10]:
print(fashion["CATEGORY_SIMPLIFIED"].unique(), "\n")
print(fashion["COLOR"].unique())

[1 0]

['White' 'Black' 'Blue' 'Pink' 'Red' 'Olive' 'Yellow' 'Navy Blue'
 'Magenta' 'Grey' 'Green' 'Orange' 'Purple' 'Turquoise Blue' 'Peach'
 'Off White' 'Teal' 'Sea Green' 'Lime Green' 'Brown' 'Lavender' 'Beige'
 'Khaki' 'Multi' 'Maroon' 'Cream' 'Rust' 'Grey Melange' 'Silver' 'Tan'
 'Charcoal' 'Mushroom Brown' 'Copper' 'Gold' 'Bronze' 'Taupe' 'Metallic'
 'Mustard' 'Nude']